<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">
          О компании
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Доставка
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Оплата
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Работа по 44-ФЗ и 223-ФЗ
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Сервис и гарантии
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Выполненные проекты
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Блог
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Политика конфиденциальности
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="tel:88005058571">
          8 800 505 85 71
        </a>
      </li>
    </ul>
  </div>
</footer>
<div class="footer-nav">
  <a class="footer-nav__logo logo" href="#">
    <img class="logo__img" src="images/logo-footer.svg" alt="logo">
  </a>
  <ul class="footer-nav__option-list">
    <li class="footer-nav__option-item">
      <button class="footer-nav__btn" type="button">
        <img class="footer-nav__btn-icon" src="images/icon/Union.svg" alt="Union.svg" width="15" height="23">
        <img class="footer-nav__btn-icon-close" src="images/icon/close.svg" alt="close.svg" width="13" height="13">
      </button>
    </li>
    <li class="footer-nav__option-item">
      <button class="footer-nav__btn" id="toggle-menu" type="button">
        <img class="footer-nav__btn-icon" src="images/icon/burger.svg" alt="burger.svg" width="17" height="9">
        <img class="footer-nav__btn-icon-close" src="images/icon/close.svg" alt="close.svg" width="13" height="13">
      </button>
    </li>
  </ul>
</div>

<div class="mob-menu" id="mobMenu">
  <ul class="mob-menu__list">
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Сцены
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Подиумы
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Трибуны
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Одежда
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Механика
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Фермы
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Фермовые конструкции
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Свет
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Звук
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Комплексное оснащение
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Строительство
      </a>
    </li>
    <li class="mob-menu__item">
      <a class="mob-menu__link" href="#">
        Проектирование
      </a>
    </li>
  </ul>
</div>