<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">
          О компании
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Доставка
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Оплата
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Работа по 44-ФЗ и 223-ФЗ
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Сервис и гарантии
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Выполненные проекты
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Блог
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">
          Политика конфиденциальности
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="tel:88005058571">
          8 800 505 85 71
        </a>
      </li>
    </ul>
  </div>
</footer>