.form {
  position: relative;

  &__img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s ease;

    @include adpt ($bmob-r) {
      display: none;
    }

    &_1 {
      width: 5vw;
      height: 9.7vw;
      background-image: url('../images/decor/1.png');
      top: 1.6vw;
      left: 0;
    }

    &_2 {
      background-image: url('../images/decor/2.png');
      top: 0;
      right: 0;
      width: 11.8vw;
      height: 15vw;
    }

    &_3 {
      background-image: url('../images/decor/3.png');
      bottom: 0;
      left: 0;
      width: 7vw;
      height: 5.5vw;
    }

    &_4 {
      background-image: url('../images/decor/4.png');
      bottom: 0;
      right: 0;
      width: 4.4vw;
      height: 11.9vw;
    }
  }

  &__inner {
    display: block;
    padding: 0 5.5vw;
    position: relative;
    z-index: 4;

    @include adpt ($bmob-r) {
      padding: 0;
      padding-top: 20px;
    }

  }

  &__title {
    position: relative;
    margin-bottom: 0.8vw;
    text-align: center;

    @include adpt ($bmob-r) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 50px;

    @include adpt ($bmob-r) {
      margin-bottom: 40px;
    }
  }

  &__item-wrap {
    &._hide {
      display: none;
    }

    &:not(:first-child) {
      margin-top: 2.6vw;
      padding-top: 2.6vw;
      border-top: 1px solid #EEEEEE;

      @include adpt ($bmob-r) {
        padding-top: 25px;
        margin-top: 25px;
      }

    }
  }

  &__item {
    display: grid;
    grid-template-columns: 24.8vw 1fr;
    grid-gap: 6vw;
    align-items: center;

    @include adpt ($bmob-r) {
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }

  }

  &__input {
    max-width: 100%;
    width: 100%;
    font-size: 1.1vw;
    line-height: 1.5;
    outline: none;
    border-radius: 0px 0.9vw 0.9vw 0.9vw;
    border: 2px solid #EEE;
    padding: 1.3vw 1.8vw;
    transition: border-color 0.3s, color 0.3s;

    @include adpt ($bmob-r) {
      font-size: 18px;
      border-radius: 0px 10px 10px 10px;
      padding: 19px 25px 18px;
    }

    &._textarea {
      min-height: 10.5vw;
      resize: vertical;

      @include adpt ($bmob-r) {
        min-height: 200px;
      }
    }

    &._error {
      color: #FF4A4A;
      border-color: #FFEAEA;
    }

    &._complete {
      border-color: $default;
    }

    &:focus,
    &:active {
      border-color: $default;

    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include adpt ($bmob-r) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__img-wrap {
    border-radius: 0px 30vw 30vw 30vw;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.9vw;
    flex-shrink: 0;
    height: 7.9vw;
    margin-right: 2.4vw;
    padding: 0.7vw;

    @include adpt ($bmob-r) {
      border-radius: 500px 0px 500px 500px;
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 12px;
      padding: 9px;
    }

    &._2 {
      border-radius: 30vw 0px 30vw 30vw;

      @include adpt ($bmob-r) {
        border-radius: 500px 0px 500px 500px;
      }
    }

    &._3 {
      border-radius: 30vw 30vw 0px 30vw;

      @include adpt ($bmob-r) {
        border-radius: 500px 500px 0px 500px;
      }
    }

    &._4 {
      border-radius: 30vw 30vw 30vw 0px;

      @include adpt ($bmob-r) {
        border-radius: 500px 500px 500px 0px;
      }
    }
  }

  &__img-item {
    object-fit: contain;
  }

  &__item-title {
    margin-bottom: 0.4vw;

    @include adpt ($bmob-r) {
      margin-bottom: 5px;
      text-align: center;
      font-size: 24px;
    }
  }

  &__item-text {
    font-size: 1.25vw;
    line-height: 1.35;
    display: block;

    @include adpt ($bmob-r) {
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
    }
  }

  &__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 1.2vw calc(14vw + 4.4vw) 1.3vw 14vw;
    font-size: 1.1vw;
    line-height: 1.5;
    color: #696969;
    margin-top: 3.5vw;
    display: none;
    transition: background-color 0.3s, color 0.3s;

    @include adpt ($bmob-r) {
      left: 0;
      transform: translate(0);
      padding: 18px;
      padding-bottom: 20px;
      padding-right: 90px;
      font-size: 18px;
      margin-top: 35px;
      width: 100%;
    }

    &._active {
      background-color: $default;
      color: $white;

      & .form__btn-img {
        opacity: 0;

        &._a {
          opacity: 1;
        }
      }
    }
  }

  &__btn-img-wrap {
    position: absolute;
    aspect-ratio: 84/82;
    width: 4.4vw;
    height: auto;
    left: calc(50% + 4.4vw);
    transform: translateX(-50%);
    top: -0.8vw;

    @include adpt ($bmob-r) {
      width: 70px;
      left: calc(50% + 80px);
      top: -10px;
    }
  }

  &__btn-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;

    &._a {
      opacity: 0;
    }
  }
}