.header {
  padding: 1.2vw 0;

  @include adpt ($tab-r) {
    display: none;
  }

  &__logo {
    max-width: 4.2vw;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.15vw;
    }
  }

  &__link {
    &:hover {
      opacity: 0.8;
    }
  }
}