.number {
  &__inner {
    grid-template-columns: 32vw 1fr;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    border: 2px solid #C4C4C4;
    font-size: 1.1vw;
    line-height: 1.5;
    outline: none;
    border-radius: 0px 0.9vw 0.9vw 0.9vw;
    padding: 1.3vw 1.8vw;
    margin-bottom: 1.5vw;
    transition: border-color 0.3s, color 0.3s;

    &._error {
      color: #FF4A4A;
      border-color: #FFEAEA;
    }
  }

  &__animation{
    &::after{
      content: "";
      height: 100%;
      position: absolute;
      width: 10vw;
      background-color: #F5F5F5;
      right: -3.7vw;
      top: 0;
    }
  }
  &__btn {
    border-radius: 50px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;

    &._hide {
      pointer-events: none;
      background-color: #F5F5F5;
      color: #696969;
    }

    & img {
      width: 4vw;
      height: 4vw;
      right: calc(50% - 10vw);
    }
  }
  &__animation-inner{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0 41%;
    min-height: 44.5vw;
    overflow: hidden;
  }

  &__anim-img {
    position: absolute;
    object-fit: contain;

    &._1 {
      width: calc(100% + 3.7vw);
      top: 0;
      height: auto;
      max-width: initial;
      left: 0;
      z-index: 1;
    }

    &._2 {
      width: 16.5vw;
      height: 16.5vw;
      top: 0;
      z-index: 1;
      left: 0;
    }
    &._3{
      z-index: 4;
      width: 40vw;
      height: 24vw;
      top: -3vw;
      left: 8vw;
    }
    &._4{
      z-index: 3;
      width: 40vw;
      bottom: 0;
      height: 30vw;
      left: 8vw;
    }
    &._5{
      z-index: 2;
      width: 20vw;
      top: 10vw;
      left: 10vw;
      height: 25vw;
    }
  }
}